In [2]:
import requests
import pandas as pd
import time

In [18]:
api_key  = 'AIzaSyAVZgubr8S85ms9d12X_1XZJ5EJ_3o3hWo'
chnanel_id = 'UCwgViahZ-mI0MVZ7iRbB2kw'
ch = 'UCW8Ews7tdKKkBT6GdtQaXvQ'

In [58]:
def get_video_details(video_id):

    #collecting view, like, dislike, comment counts
    url_video_stats = f'https://www.googleapis.com/youtube/v3/videos?id={video_id}&part=statistics&key={api_key}'
    response_video_stats = requests.get(url_video_stats).json()
    view_count = response_video_stats['items'][0]['statistics']['viewCount']
    like_count = response_video_stats['items'][0]['statistics']['likeCount']
    dislike_count = response_video_stats['items'][0]['statistics']['dislikeCount']
    comment_count = response_video_stats['items'][0]['statistics']['commentCount']

    return view_count, like_count, dislike_count, comment_count

In [59]:
# make a loop to get the important info
def get_vidoes(df):
    pageToken = ''
    url= f'https://www.googleapis.com/youtube/v3/search?key={api_key}&channelId={ch}&part=snippet,id&order=date&maxResults=10000&{pageToken}'
    respode  = requests.get(url=url).json()
    # make the loop sleep for 1 second before start to get the data
    time.sleep(1)

    for vidoe in respode['items']:
        if vidoe['id']['kind']=='youtube#video':
            vidoe_id = vidoe['id']['videoId']
            date = vidoe['snippet']['publishedAt']
            date = str(date).split('T')[0]
            title = vidoe['snippet']['title']
            description = vidoe['snippet']['description']

            # i need to get the like count and dislike count so i need to make another api call
            view_count, like_count, dislike_count, comment_count = get_video_details(vidoe_id)
            
            df = df.append({'video_id':vidoe_id,'video_title':title,
                                    "upload_date":date,"description": description,"view_count":view_count,
                                    "like_count":like_count,"dislike_count":dislike_count,
                                    "comment_count":comment_count},ignore_index=True)
                                    
    return df

In [60]:
#main

#build our dataframe
df2 = pd.DataFrame(columns=["video_id","video_title","upload_date","description","view_count","like_count","dislike_count","comment_count"]) 

df2 = get_vidoes(df2)
df2

,video_id,video_title,upload_date,description,view_count,like_count,dislike_count,comment_count
0,Bgpp99iz0I0,Most Common Coding Mistakes on Data Science In...,2021-11-04,"In this video, we will see the most common cod...",1606,88,1,23
1,GeJUvdkJKEc,Multiple Solutions to Data Scientist Interview...,2021-10-11,This data scientist interview question comes f...,2717,91,0,31
2,GGURenNfXI0,Multiple Approaches for Solving a Twitter Data...,2021-09-13,We'll closely examine one of the interesting T...,2729,129,2,28
3,PlpUo6bHsBQ,Advanced Facebook Data Science SQL interview q...,2021-08-09,This advanced SQL question is from the Faceboo...,7896,251,0,45
4,uY2wfR8Dkqo,5 Tips for a Successful Data Science Interview,2021-07-26,In this video of 5 tips for a successful data ...,5064,181,1,33
5,yY7yau9j3xk,Data Science SQL Scenario Based Interview Ques...,2021-07-20,This Data Science SQL interview question is fr...,3916,115,1,20
6,i-E4pdU2qXM,Data Science SQL Interview Question Walkthroug...,2021-07-13,This Data Science SQL interview question is fr...,3406,141,0,18
7,T1UhSuKqy3A,Most Common Data Science SQL Interview Questio...,2021-06-15,This is the most common data science SQL inter...,5695,219,0,35
8,2iE3JgNTwVU,A Walkthrough of Data Science SQL Interview Qu...,2021-06-04,This data science SQL interview question is fr...,3502,115,0,29
9,RgKMbpEylWA,Comparing FAANG vs Non-FAANG Data Science Inte...,2021-05-24,"In this video, we'll compare data science inte...",1617,60,0,11
10,giGIPINLqJs,An Analysis of 900 Data Science Interview Ques...,2021-05-13,"In this video, we're analyzing 900 data scienc...",2221,87,0,9
11,77IVf0zgmwI,Importing a Pandas Dataframe to a Database in ...,2021-05-05,Today we're going to talk about how to upload ...,3469,133,0,27
12,xtbMCAVXDmU,Facebook and Microsoft Data Science SQL interv...,2021-04-15,This data science SQL interview question is fr...,5596,166,1,53
13,fklHBWow8vE,Working with APIs in Python [For Your Data Sci...,2021-04-02,We're going to be working with the Youtube API...,6931,374,1,38
14,tNXliLTlrV8,Step-by-step Approach to Solving Any Data Scie...,2021-03-24,Here's a step-by-step framework to solve any d...,6010,194,6,32
15,XRwxYOhHdE8,Facebook&#39;s Most Common Data Science SQL In...,2021-03-10,This is the most common data science interview...,16444,406,6,42
16,pV_mnZgzXEo,Coding Concepts in Data Science Interviews in ...,2021-03-03,"In this video, we'll talk about the 5 coding c...",3039,161,1,22
17,c4Af2FcgamA,The One and Only Data Science Project You Need,2021-02-24,Are you trying to figure out your next data sc...,14029,1076,4,79
18,QenwDm5oWdU,Advanced Data Science SQL Interview Question [...,2021-02-17,This SQL data science interview question was a...,10935,393,1,78
19,TYHWv1vT0Pk,Common Date Manipulations on Data Science SQL ...,2021-02-11,Date and datetime manipulations are really com...,8440,339,3,71
20,0GpgMvyN0Fg,How I Learned Data Science (resources to get a...,2021-02-04,Let's talk about how to learn data science. Or...,4049,239,4,41
21,VYeevsVj4fU,Advanced SQL Questions From Amazon (Handling c...,2021-01-27,This SQL question involves handling complex lo...,12301,376,1,46
22,vLjAG9eXkcU,Solving Complex SQL Interview Questions [How t...,2021-01-20,Let's talk about a framework to organize lengt...,6450,209,4,53
23,lG0PbUq4wkg,Top Data Science Interview Questions in 2021 [...,2021-01-13,We're going to go over the most common data sc...,3433,125,3,20
24,j8kGqAAIhxA,Top Data Science Interview Question And Answer...,2021-01-06,We're going to cover the #1 most common mistak...,3326,114,6,27
25,W_IERUwElkg,SQL Case Statements For Data Science Interview...,2020-12-28,Let's cover 3 types of SQL case statements tha...,17149,641,1,72
26,eC7MdwKCCOE,Tricky Data Science Interview Question [By Fac...,2020-12-22,Today we'll cover a tricky data science interv...,3438,112,3,25
27,XBE09l-UYTE,SQL Window Functions on Data Science Interview...,2020-12-17,Let's cover 4 SQL window function interview qu...,35090,1209,7,134
28,C0hk-dZ9XSE,SQL Window Functions In a Data Science Intervi...,2020-12-10,SQL window functions are common data science a...,2664,88,1,16
29,N0aHeKyNEto,Applying Software Engineering Principles To Yo...,2020-12-03,We're going to apply software engineering fund...,1194,54,0,24
30,TDwy1lSjEZo,Automating Your Data Science Tasks In Python (...,2020-11-24,This is part 2 on automating the import of CSV...,4046,118,4,42
31,EPUayNC5ku4,SQL Coding Interview Question Using A Window F...,2020-11-19,"In this video, I'll walk you through a common ...",33807,1002,5,92
32,wqBFgaMgFQA,Solve Data Science Tasks In Python (Saving Hou...,2020-11-15,Solving real world data science tasks by autom...,6330,222,2,46
33,IKw0lkmBHNI,Solving an Airbnb Data Science Coding Intervie...,2020-11-11,This SQL data science interview question was a...,3921,84,2,16
34,_gy1o9UH2dQ,Hard SQL Interview Question From FACEBOOK | Da...,2020-11-04,This SQL data science interview question was a...,14922,319,9,57
35,7Q-2DEwHW7w,Solving a SQL Interview Question by FACEBOOK |...,2020-10-29,This SQL data science interview question was a...,4460,80,2,12
36,pFwYjaeKFvQ,Solving a Facebook Data Science Interview Ques...,2020-10-22,This SQL data science interview question was a...,3732,50,4,16
37,iR8FDQyCtnw,SQL Interview Questions From MICROSOFT | Expen...,2020-10-20,This SQL data science interview question was a...,1509,35,1,4
38,1SgHHQeRuxs,How I Prepare For My Data Science Interviews (...,2020-10-18,Hi Everyone! I've been wanting to make a video...,4106,115,5,17
39,UndSRKwsxKM,YELP SQL Data Science Interview Questions | Co...,2020-10-10,This SQL data science interview question was a...,1545,28,0,12
40,U9P4M4EPTgI,Intro to Real Data Science Interview Questions...,2020-09-23,Hey Everyone! I just wanted to introduce a new...,2007,38,0,6
41,S7gKkRxlk1U,Real Data Science Interview Question From Face...,2020-09-23,This SQL data science interview question was a...,3920,53,2,12
42,rMoUoYxfBNk,How To Discuss Trade-offs in a Data Science In...,2020-09-20,Please subscribe to this channel if you like t...,809,22,0,6
43,60NaEc7NP_U,My Data Science Career Path (From Novice to Yo...,2020-09-13,"In this video, I help you to find your data sc...",1656,57,0,5
44,5-1ClCuQCIw,How to Organize Data Science Interview Solutio...,2020-08-30,This is data science interview tip #3 and in t...,3032,23,4,10
45,rf2udE9q-SM,How To Get Your First Data Science Job Intervi...,2020-08-20,This is data science interviews tip #2 and in ...,1894,36,2,8
46,wqxDfVdZ8wM,18 Most Recommended Data Science Platforms To ...,2020-08-16,"In this video, I'll talk about 18 most recomme...",1933,84,2,18
47,SrqJuUNN62I,Technical Questions on Data Science Interviews...,2020-08-08,Welcome to a new series of videos called Data ...,2939,60,0,4